{% extends "layout.html" %}

{% block body %}
<div class="d-flex justify-content-center">
<h1>Ohjeet</h1>
</div>
<div class="d-flex align-items-start flex-column" style="height: 100px;">
    <h3>Tapahtumat</h3>
    <p>Kirjautunut käyttäjä näkee lokit suorittamistaan toiminnoista</p>
</div>
<div class="d-flex align-items-start flex-column" style="height: 100px;">
    <h3>Tuotteet</h3>
    <p>Uusien tuotteiden lisääminen, tuote-listaus, tuotetietojen tarkastelu, saldolisäys</p>
</div>
<div class="d-flex align-items-start flex-column" style="height: 100px;">
    <h3>Hyllytys</h3>
    <p>Tuotteiden hyllyttäminen</p>
</div>
{% endblock %}