{% extends "layout.html" %}

{% block body %}

<table class="table table-bordered">
    <tr>
        <th>Tuote</th>
        <th>Nimi</th>
        <th>Määrä</th>
        <th>Kategoria</th>
        <th>Kuvaus</th>
    </tr>
    {% for tuote in tuotteet %}
    <tr>
        <td>{{ tuote.tuotekoodi }}</td>
        <td>{{ tuote.nimi }}</td>
        <td>{{ tuote.maara }}</td>
        <td>{{ tuote.kategoria }}</td>
        <td>{{ tuote.kuvaus }}</td><br>
    </tr>
    {% endfor %}
</table>

{% endblock %}