{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tuotteet_create') }}">
    <fieldset>
        <legend>Tuoteinformaatio:</legend>
        Tuotekoodi:<br>
        <input type="text" name="tuotekoodi"/><br>
        Nimi:<br>
        <input type="text" name="nimi"/><br>
        Määrä:<br>
        <input type="text" name="maara"/><br>
        Kategoria:<br>
        <input type="text" name="kategoria"/><br>
        Kuvaus:<br>
        <input type="text" name="kuvaus"/><br>
        <input type="submit" value="Luo uusi tuote"/><br>
    </fieldset>
</form>
{% endblock %}