{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tuotteet_create') }}">
    <fieldset>
        <legend>Tuoteinformaatio:</legend>
            <tr>
                <th>{{ form.tuotekoodi.label }}</th>
                <td>{{ form.tuotekoodi }}</td>
            </tr>
            <tr>
                <th>{{ form.nimi.label }}</th>
                <td>{{ form.nimi }}</td>
            </tr>
            <tr>
                <th>{{ form.maara.label }}</th>
                <td>{{ form.maara }}</td>
            </tr><br>
            <tr>
                <th>{{ form.kategoria.label }}</th>
                <td>{{ form.kategoria }}</td>
            </tr>
            <tr>
                <th>{{ form.kuvaus.label }}</th>
                <td>{{ form.kuvaus }}</td>
            </tr>
        <input type="submit" value="Luo uusi tuote"/><br>
        <td>
            <ul>
                {% for field, errors in form.errors.items() %}
                <li>{{ form[field].label }}: {{ ', ' .join(errors) }}</li>
                {% endfor %}
            </ul>
        </td>
    </fieldset>
</form>
<form method="POST" action="{{ url_for('tuotteet_return') }}">
    <input type="submit" name="peruuta" value="Takaisin"/>
</form>
{% endblock %}