{% extends "layout.html" %}

{% block body %}
{% if tuote %}
<table class="table table-bordered">
    <tr>
        <th>Tuote</th>
        <th>Nimi</th>
        <th>Määrä</th>
        <th>Kategoria</th>
        <th>Kuvaus</th>
    </tr>
    <tr>
        <td>{{ tuote.tuotekoodi }}</td>
        <td>{{ tuote.nimi }}</td>
        <td>{{ tuote.maara }}</td>
        <td>{{ tuote.kategoria }}</td>
        <td>{{ tuote.kuvaus }}</td>
    </tr>
</table>
{% endif %}

{% if hyllypaikat %}
<div class="d-flex justify-content-center">
<ul class="list-group">
    <li class="list-group-item active">Hyllypaikat</li>
    {% for hyllypaikka in hyllypaikat %}
    <li class="list-group-item"><a href="{{ url_for('show_shelf', paikkanumero=hyllypaikka.paikkanumero) }}">{{ hyllypaikka.paikkanumero }}</a></li>
    {% endfor %}
</ul>
{% else %}
<br><p>Tuotetta ei ole hyllyssä</p>
</div>
{% endif %}



{% endblock %}