{% extends "layout.html" %}

{% block body %}

<div class ="container" style="max-width: 1000px; align-content: center;">
    <div class ="d-flex align-items-center">
        <div class="row">
            <ul>
                <legend>Tuote</legend>
                <li>Tuotekoodi: {{ tuote.tuotekoodi }}</li>
                <li>Nimi: {{ tuote.nimi }}</li>
                <li>Määrä: {{ tuote.hyllytettava }}</li>
                <li>Kategoria: {{ tuote.kategoria }}</li>
                <li>Kuvaus: {{ tuote.kuvaus }}</li>
            </ul>
        </div>
    </div>

<table class="table table-bordered">
    <tr>
        {% for hyllypaikka in paikka %}
        <form method="POST" action="{{ url_for('hyllyta_tuote', tuotekoodi=tuote.tuotekoodi, paikkanumero=hyllypaikka.paikkanumero) }}">
            <td>Paikkanumero: {{ hyllypaikka.paikkanumero }}</td>
        {% if hyllypaikka.maara == 0 %}
            <td>{{ form.kapasiteetti.label }} {{ form.kapasiteetti }}</td>
        {% endif %}
            <td><input type="submit" value="Hyllyyn"/></td>
        </form>
        {% endfor %}
    </tr>
</table>
</div>
{% endblock %}