{% extends "layout.html" %}


{% block body %}
<div class="container" style="max-width: 1000px; align-content: center; margin-top: 50px;">
    <table class="table table-bordered">
        <tr>
            <th>Tuotekoodi</th>
            <th>Nimi</th>
            <th>Määrä</th>
            <th>Kategoria</th>
            <th>Kuvaus</th>
        </tr>
        {% for tuote in tuotteet %}
        <tr>
            <td>{{ tuote.tuotekoodi }}</td>
            <td>{{ tuote.nimi }}</td>
            <td>{{ tuote.hyllytettava }}</td>
            <td>{{ tuote.kategoria }}</td>
            <td>{{ tuote.kuvaus }}</td>
            <form method="GET" action="{{ url_for('valitse_hyllypaikka', tuotekoodi=tuote.tuotekoodi) }}">
                <td><input type="submit" value="Hyllyyn"></td>
            </form>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="d-flex justify-content-center">
    {% if edellinen_sivu %}
    <p style="margin: 10px;"><a href="{{ edellinen_sivu }}">Edellinen sivu</a></p>
    {% endif %}
    
    {% if seuraava_sivu %}
    <p style="margin: 10px;"><a href="{{ seuraava_sivu }}">Seuraava sivu</a></p>
    {% endif %}
</div>
{% endblock %}
