{% extends "layout.html" %}

{% block body %}
<div class="d-flex align-items-center">
    <div class="container" style="align-items: center; margin-left: 35%;">
        <form method="POST" action="{{ url_for('auth_login') }}">
            <table>
                <tr>
                    <td>
                        {{ form.username.label }}
                    </td>
                    <td>
                        {{ form.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.label }}
                    </td>
                    <td>
                        {{ form.password }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Kirjaudu"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<p>{{ error }}</p>
{% endblock %}
