{% extends "layout.html" %}

{% block body %}
<div class="container" style="max-width: 1000px; align-content: center; margin-top: 50px;">
    <table class="table table-bordered">
        <tr>
            <th>Loki_Id</th>
            <th>Ajankohta</th>
            <th>Tuotekoodi</th>
            <th>Kuvaus</th>
            <th>Käyttäjä_Id</th>
        </tr>
    {% for loki in lokit %}
        <tr>
            <td>{{ loki.id }}</td>
            <td>{{ loki.luotu }}</td>
            <td>{{ loki.tuotekoodi }}</td>
            <td>{{ loki.kuvaus }}</td>
            <td>{{ loki.account_id }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<div class="d-flex justify-content-center">
    {% if edellinen_sivu %}
    <p style="margin: 10px;"><a href="{{ edellinen_sivu }}">Uudemmat lokit</a></p>
    {% endif %}

    {% if seuraava_sivu %}
    <p style="margin: 10px;"><a href="{{ seuraava_sivu }}">Vanhemmat lokit</a></p>
    {% endif %}
</div>

{% endblock %}